# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore the Makefile
!Makefile

# Unignore all dirs
!*/

# Ignore default executable
a.out
*.o
*.exe

Datasets/
Resultados/
comandos.txt
enunciado.pdf
relatorio-fase2.doc
Datasets/inputs.txt